.slider{
    &-images{
        position: relative;
        width: 100%; 
        margin: auto;
        display: flex;
        overflow: hidden;
        aspect-ratio: 4/3;
    }
    &-item{
        position: absolute;
        display: inline;
        vertical-align: middle;
        margin: auto;
        width: 100% !important;
        transition: 1s;
        img{
            width: 100% !important;
        }

        &:nth-child(1){
            left: 0;
        }
        &:nth-child(2){
            left: 100%;
        }
        &:nth-child(3){
            left: 200%;
        }
    }
    &-black-box{
        background-color: #000000;
        position: absolute;
        height: 120px;
        width: 100%;
    }
    &-content-wrapper{
        overflow: hidden;
        width: 70%;
        height: 300px;
        margin: auto;
        position: relative;
        display: flex;
        color: white;
        top: -110px;
    }
    &-quotes-container{
        // 
        background-color: #000000;
        
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-quote{
        padding: 100px 20px;
        transition: .5s;
        &:nth-child(2){
            opacity: 0;
            display: none;
        }
        &:nth-child(3){
           opacity: 0;
           display: none;
        }
    }
    &-btns-smallscreen{
        z-index: 1;
        display: flex;
        width: 100%;
        button{
            border: none;
            background-color: unset;
            &:nth-child(1){
                padding-left: 15px;
                justify-content: left;
            }
            &:nth-child(2){
                padding-right: 15px;
                margin-left: auto;
            }
        }
    }
    &-btns-bigscreen{
        display: none;
    }
    
}



// Tablet
@media only screen and (min-width: 768px) {
    .slider{
        &-images{
            width: 85%;
            aspect-ratio: 7/3;
        }
        &-btns-smallscreen{
            display: none;
        }
        &-btns-bigscreen{
            display: block;
            width: 40%;
            text-align: right;
            margin: auto;
            button{
                border: none;
                background-color: unset;
            }
        }
        &-quotes-container{
            margin-right: 40px;
            width: 60%;
        }
          
    }
}
// Laptop
@media only screen and (min-width: 992px) {
    .slider{
        &-quote{
            padding: 100px;
        }    
    }
}
// Large devices
@media only screen and (min-width: 1200px) {

}