* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, body, a, button {
  font-family: 'Times New Roman', Times, serif !important;
}

label {
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

li {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.i-hidden {
  display: none !important;
}

.opacity-visible {
  opacity: 1 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.top {
  top: 0 !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.no-scroll {
  overflow-y: hidden;
}

.noLeft {
  left: 0 !important;
}

.footer__socials, .header__socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 60px;
  padding-left: 0;
}

.socials img {
  width: 100%;
}

.button {
  min-width: 30%;
  padding: 5px 10px;
  background-color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000000;
  border: #000000 solid 1px;
  font-size: 1em;
}

.button:hover {
  border: #000000 solid 1px;
  background-color: #000000;
  color: #ffffff;
}

/* Laptop */
@media only screen and (min-width: 992px) {
  .no-scroll {
    overflow-y: unset;
  }
  .button {
    padding: 10px 15px;
    font-size: 1.2em;
    min-width: 100px;
  }
}

/* Large devices */
.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  min-height: 8vh;
  top: 0;
  z-index: 1;
  background-color: #000000;
  color: #ffffff;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8em;
}

.header__wrapper {
  width: 100%;
  margin: 0 auto;
}

.header__logo-container {
  padding: 25px 20px;
  max-width: 70vw;
}

.header__logo {
  width: 100%;
}

.header__small-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__small-menu img {
  width: 100%;
}

.header__navigation {
  position: relative;
}

.header__fancy-nav {
  position: relative;
  top: -10vh;
  left: 0;
}

.header__search-container {
  position: absolute;
  text-align: center;
  height: 102vh;
  width: 100%;
  padding: 0 15%;
  background-color: #000000;
  padding-top: 10vh;
  right: -100%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
}

.header__searchbar-combine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ffffff;
}

.header__search {
  border: none;
  font-family: 'Times New Roman', Times, serif;
  background-color: #000000;
  color: #ffffff;
}

.header__search:focus {
  outline: none;
}

.header__search-result {
  position: absolute;
  margin: auto;
  margin-top: 50px;
  min-height: 300px;
  width: 90%;
  background-color: #000000;
  color: #ffffff;
  z-index: 2;
  top: 10vh;
  left: 0;
  right: 0;
}

.header .search-result {
  cursor: pointer;
  padding: 15px 25px 0;
  margin: 0 25px 25px;
  border-bottom: solid 2px #707070;
}

.header__socials {
  z-index: 1;
  padding-top: 0px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 100vh;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__nav {
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  height: 92vh;
  background-color: #000000;
  right: -100%;
}

.header__list-link {
  display: inline-block;
  padding: 15px 0;
}

.header__list-link:hover {
  color: #ffffff;
}

.header__list-link:hover::after {
  width: 100%;
}

.header__list-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #ffffff;
  -webkit-transition: width .15s;
  transition: width .15s;
}

.search-img img {
  position: relative;
  z-index: 3;
  -webkit-transition: .2s;
  transition: .2s;
}

.search-checkbox:checked ~ .header__navigation > .header__fancy-nav > .header__search-container {
  right: 0;
}

.search-checkbox:checked ~ .flex > .header__logo-container + .header__small-menu > .small__search-container > label > div > img {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.burgermenu-label {
  display: block;
}

.small__burgermenu-container {
  margin: auto 20px;
  width: 28px;
}

.burgermenu {
  margin: 0 auto;
  width: 28x;
  height: 14px;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
}

.bar {
  padding: 0;
  width: 28px;
  height: 2px;
  background-color: white;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.bar1, .bar2 {
  -webkit-transform-origin: 5%;
          transform-origin: 5%;
}

.bar1 {
  top: 0;
}

.bar2 {
  bottom: 0;
}

.burgermenu-checkbox:checked ~ .header__navigation > div.header__fancy-nav > div.header__search-container ~ .header__socials {
  top: 85vh;
  opacity: 1;
}

.burgermenu-checkbox:checked ~ .header__navigation > .header__nav {
  right: 0;
}

.burgermenu-checkbox:checked + .flex > .header__small-menu > .small__burgermenu-container > label > .burgermenu {
  height: 21px;
}

.burgermenu-checkbox:checked + .flex > .header__small-menu > .small__burgermenu-container > label > .burgermenu > .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 2px;
  width: 30px;
}

.burgermenu-checkbox:checked + .flex > .header__small-menu > .small__burgermenu-container > label > .burgermenu > .bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 2px;
  width: 30px;
}

@media only screen and (min-width: 768px) {
  .header {
    min-height: unset;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    position: unset;
    top: unset;
  }
  .header a {
    font-size: 1.2em;
  }
  .header__wrapper {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo-container {
    margin: auto 0;
    padding: 25px 20px 25px 0;
    max-width: 60vw;
  }
  .header__small-menu {
    display: none;
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 20px;
    margin-left: auto;
  }
  .header__fancy-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: unset;
    margin-left: auto;
    gap: 20px;
  }
  .header__search-container {
    display: unset;
    position: relative;
    height: unset;
    right: unset;
    padding: unset;
  }
  .header__search-result {
    margin-top: 30px;
    width: 100%;
    top: unset;
    border: solid #707070 2px;
  }
  .header__socials {
    opacity: 1;
    position: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-left: auto;
    padding: 0 0 20px;
    padding-top: 0px;
  }
  .header__nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: unset;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  .header__list-link {
    font-size: 20px;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header__list-link {
    font-size: 25px;
  }
}

/* The Modal (background) */
.modal {
  /* Modal Content */
  /* The Close Button */
}

.modal__background {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.modal__content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
  top: calc(100vh + 100px);
  -webkit-transition: .3s;
  transition: .3s;
}

.modal__thumbnail {
  height: 300px;
  background-image: url(../assets/images/posts/Post_thumbnail-4.png);
  background-size: cover;
  background-position: bottom;
}

.modal__text-container {
  font-size: 1.2em;
  padding: 20px 40px;
}

.modal__title {
  padding: 20px 0;
}

.modal__meta {
  color: #707070;
}

.modal__close-container {
  z-index: 4;
  position: absolute;
  background-color: #000;
  padding: 10px;
  right: 0px;
  top: 0;
  cursor: pointer;
}

.modal__close {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover, .modal__close:focus {
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .modal {
    /* Modal Content */
    /* The Close Button */
  }
  .modal__background {
    padding: 100px 0;
  }
  .modal__content {
    width: 50%;
  }
  .modal__text-container {
    width: 80%;
    margin: auto;
    padding: 20px 80px;
  }
  .modal__close-container {
    right: -40px;
  }
}

.slider-images {
  position: relative;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.slider-item {
  position: absolute;
  display: inline;
  vertical-align: middle;
  margin: auto;
  width: 100% !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider-item img {
  width: 100% !important;
}

.slider-item:nth-child(1) {
  left: 0;
}

.slider-item:nth-child(2) {
  left: 100%;
}

.slider-item:nth-child(3) {
  left: 200%;
}

.slider-black-box {
  background-color: #000000;
  position: absolute;
  height: 120px;
  width: 100%;
}

.slider-content-wrapper {
  overflow: hidden;
  width: 70%;
  height: 300px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  top: -110px;
}

.slider-quotes-container {
  background-color: #000000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-quote {
  padding: 100px 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider-quote:nth-child(2) {
  opacity: 0;
  display: none;
}

.slider-quote:nth-child(3) {
  opacity: 0;
  display: none;
}

.slider-btns-smallscreen {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider-btns-smallscreen button {
  border: none;
  background-color: unset;
}

.slider-btns-smallscreen button:nth-child(1) {
  padding-left: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.slider-btns-smallscreen button:nth-child(2) {
  padding-right: 15px;
  margin-left: auto;
}

.slider-btns-bigscreen {
  display: none;
}

@media only screen and (min-width: 768px) {
  .slider-images {
    width: 85%;
    aspect-ratio: 7/3;
  }
  .slider-btns-smallscreen {
    display: none;
  }
  .slider-btns-bigscreen {
    display: block;
    width: 40%;
    text-align: right;
    margin: auto;
  }
  .slider-btns-bigscreen button {
    border: none;
    background-color: unset;
  }
  .slider-quotes-container {
    margin-right: 40px;
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .slider-quote {
    padding: 100px;
  }
}

.main {
  width: 80%;
  margin: 0 auto;
}

.main__article-container {
  padding-left: 0;
}

.main__article-container .firstArticle {
  padding: 0 0 30px;
}

.main__article-container .article {
  position: relative;
  text-align: left;
  padding: 30px 0;
}

.main__article-container .article__wrapper {
  cursor: pointer;
}

.main__article-container .article__image-container img {
  width: 100%;
}

.main__article-container .article__text-container {
  padding: 20px 0;
  font-size: 1.1em;
}

.main__article-container .article__text-container .article-title {
  font-weight: 600;
}

.main__article-container .article__text-container .article-meta {
  color: #707070;
}

.main__article-container .article__text-container .article-meta time {
  padding: 0 5px;
}

.main__pagination {
  border-top: #DDDDDD solid 1px;
  border-bottom: #DDDDDD solid 1px;
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.main__pagination .button {
  width: 30%;
}

.main__pagination p {
  margin: 0 auto;
}

.main__pagination button:first-child {
  margin-right: auto;
}

.main__pagination button:last-child {
  margin-left: auto;
}

.main__content-sidebar-item {
  padding: 30px 0;
  border-bottom: solid 1px #DDDDDD;
  font-size: 1.2em;
  line-height: 20px;
}

.main__content-sidebar-item h3, .main__content-sidebar-item h4 {
  padding-bottom: 10px;
}

.main__content-sidebar-item ul {
  line-height: 25px;
  padding: 0;
}

.main__content-sidebar-item:first-child {
  padding: 40px 0 30px;
}

.main__content-sidebar-item:last-child {
  border-bottom: unset;
}

.main__sponsor-container {
  padding: 40px 0 30px;
  text-align: center;
  border-top: solid 1px #DDDDDD;
}

.main__sponsor-title {
  padding-bottom: 50px;
}

.main__sponsor-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__sponsor-images img {
  width: 33%;
  padding: 5px;
}

/* Laptop */
@media only screen and (min-width: 992px) {
  .main {
    width: 70%;
  }
  .main__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__content {
    width: 60%;
    margin-right: 40px;
    font-size: 1.2em;
  }
  .main .article__text-container {
    padding: 30px 0 60px 30px;
  }
  .main__pagination {
    border-bottom: none;
    padding: 30px 0 80px;
    font-size: 1.2em;
  }
  .main__pagination .button {
    width: unset;
    min-width: 150px;
  }
  .main__content-sidebar {
    width: 40%;
    padding: 0 0 0 40px;
  }
  .main__content-sidebar-item {
    padding: 40px 0;
  }
  .main__content-sidebar-item:first-child {
    padding: 0 0 40px;
  }
  .main__sponsor-container {
    padding: 80px 0;
    text-align: center;
    border-top: solid 1px #DDDDDD;
  }
  .main__sponsor-title {
    padding-bottom: 50px;
  }
  .main__sponsor-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__sponsor-images img {
    width: 10%;
    padding: 0 20px;
  }
}

/* Large devices */
@media only screen and (min-width: 1200px) {
  .main__content {
    width: 60%;
  }
  .main .firstArticle {
    padding: 0 0 30px;
  }
  .main .article__text-container {
    padding: 0px 0 60px 30px;
  }
  .main .article__image-container img {
    width: unset;
  }
  .main .activeArticles .article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__article-container .button {
    position: absolute;
    bottom: 30px;
  }
  .main__content-sidebar {
    width: 40%;
  }
}

.footer {
  width: 80%;
  margin: 10vw auto;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid 2px #707070;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer h4 {
  padding: 0 0 10px 0;
}

.footer__info {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15%;
}

.footer__info-item {
  padding: 40px 0;
  width: 100%;
}

.footer__about-subtitle {
  color: #707070;
  font-size: 1.2em;
}

.footer__about-text {
  font-size: 1.1em;
  line-height: 30px;
}

.instagram-gallery {
  margin: 0 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram-gallery img {
  width: 33%;
  padding: 5px;
}

.contact-subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.address-item {
  color: #707070;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.address-link {
  display: inline-block;
}

.address-link:hover {
  color: #707070;
}

.address-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #707070;
  -webkit-transition: width .15s;
  transition: width .15s;
}

.address-link:hover::after {
  width: 100%;
}

/* Laptop */
@media only screen and (min-width: 992px) {
  .footer {
    text-align: unset;
    padding: 40px;
    width: 85%;
    margin: 5vw auto;
  }
  .footer .footer-wrapper {
    padding: 4%;
  }
  .footer__logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 80px;
  }
  .footer__socials {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-left: auto;
    padding-top: 0px;
  }
  .footer__info {
    padding-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__info-item {
    width: 33%;
    padding: 0;
  }
  .instagram-gallery img {
    width: 50%;
    padding: 10px;
  }
}

/* Large devices */
@media only screen and (min-width: 1200px) {
  .footer__socials {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-left: auto;
    padding-top: 0px;
  }
  .instagram-gallery img {
    padding: 10px;
    width: 33%;
  }
}
/*# sourceMappingURL=style.css.map */